#main-footer{
	background-color: #3a3a3a;
	padding-top: 60px;
	.widget-area{
		.widget-social,.widget-contact{
			.social-widget{
				ul{
					margin: 0;
					padding: 0;
					li{
						list-style: none;
						display: inline-block;
						padding: 12px 9px;
						&:first-child{
							padding-left: 0;
						}
						i{
							width: 32px;
							height: 32px;
							line-height: 32px;
							color: #f0f0f0;
							background-color: #696969;
							text-align: center;
							@include transition(all, .5s, ease-in-out);
							@include border-radius(50%);
						}
						&:hover{
							i{
								background-color: $color1;
							}
						}
					}
				}
			}
			.contact-info-widget{
				ul{
					margin: 0;
					padding: 0;
					li{
						list-style: none;
						display: inline-block;
						padding-right: 12px;
						padding-top: 12px;
						&:last-child{
							padding-right: 0;
						}
						i{
							width: 32px;
							height: 32px;
							line-height: 32px;
							color: #f0f0f0;
							display: inline-block;
							background-color: #696969;
							text-align: center;
							@include transition(all, .5s, ease-in-out);
							@include border-radius(50%);
							&[class^="flaticon-"]{
								&:before{
									@include font-size(16);
								}
							}
						}
						&:hover{
							i{
								background-color: $color1;
							}
						}
						span{
							@include font-size(14);
							font-weight: 400;
							color: #a1a1a1;
							padding-left: 2px;
						}
					}
				}
			}
		}
		.widget-contact{
			.contact-info-widget{
			}
		}
		.widget-title{
			@include font-size(16);
			color: #a1a1a1;
			font-weight: 700;
			text-transform: uppercase;
			padding-bottom: 22px;
			margin: 0;
			@include border-bottom(1px, solid, #474646);
		}
	}

	.copyright-section{
		border-top: 1px solid #474646;
		padding: 32px 0;
		margin-top: 23px;
		.copytext{
			color: #a1a1a1;
			a{
				color: $color1;
				text-decoration: none;
			}
		}
		.footer-bottom-menu{
			ul{
				padding: 0;
				margin: 0;
				float: right;
				li{
					display: inline-block;
					list-style: none;
					border-right: 1px solid #a1a1a1;
					padding: 0 16px;
					line-height: 14px;
					&:last-child{
						border-right: none;
						padding-right: 0;
					}
					a{
						color: #a1a1a1;
						text-decoration: none;
						text-transform: uppercase;
						@include transition(all, .3s, ease-in-out);
						&:hover{
							color: $color1;
						}
					}
				}
			}
		}
	}
	&.sticky-footer{
		position: fixed;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		z-index: -1;
	}
}